{% extends "base.html" %} {% block content %}
<div class="product-page">
  <div class="filter-section">
    <h3>Sort By Undertone</h3>
    <form id="filter-form">
      <label><input type="checkbox" name="undertone" value="cool" /> Cool</label><br />
      <label><input type="checkbox" name="undertone" value="neutral" /> Neutral</label><br />
      <label><input type="checkbox" name="undertone" value="warm" /> Warm</label>
      <h3>Price</h3>
      <label><input type="checkbox" name="price" value="under100" /> < Rp. 100.000</label><br />
      <label><input type="checkbox" name="price" value="100to300" /> Rp. 100.000 - Rp. 300.000</label><br />
      <label><input type="checkbox" name="price" value="above300" /> > Rp. 300.000</label>
      <h3>Status Product</h3>
      <label><input type="checkbox" name="status" value="new" /> New</label><br />
      <label><input type="checkbox" name="status" value="bestseller" /> Best Seller</label><br /><br />
      <button type="button" id="apply-filter" class="btn btn-filter">Apply Filter</button>
    </form>
  </div>

  <div class="product-grid">
    <div class="product-card" data-undertone="cool" data-price="under100" data-status="new">
      <a href="https://s.shopee.co.id/5psQAooVmR">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7r98r-lomyvkt1p05ldb@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">Zevanya Blouse Oversize</p>
          <p class="product-price">Rp. 64.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="100to300" data-status="bestseller">
      <a href="https://s.shopee.co.id/7ANnlNfiLo">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7r98y-lrs9g85jps3haf@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">Livehaf - Bukem SS Popal</p>
          <p class="product-price">Rp. 89.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">HM kemeja lengan panjang polos pria</p>
          <p class="product-price">Rp. 85.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">Kaos Kerah Polos Polo Shirt Esperanza</p>
          <p class="product-price">Rp. 85.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Violet Multi Way Blouse Top</p>
          <p class="product-price">Rp. 140.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">Aerostreet Kemeja Rayon Marva Jade Green Hawai</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">ANDINI BLOUSE POLOS SHAKILLA PREMIUM (Free Bross)</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">Key - 0138 Kem VELOVE SATIN VELVET PREMIUM</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">Kemeja Oversize Linen Wanita Alea Olivia Shirt High Quality Premium</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>

    <div class="product-card" data-undertone="cool" data-price="above300" data-status="new">
      <a href="https://s.shopee.co.id/1qMHPgXgZf">
        <div class="product-image">
          <img src="{{ url_for('static', filename='images/id-11134207-7rasl-m125yy6xyt1m61@resize_w450_nl.webp') }}"
            alt="Nama Produk" />
        </div>
        <div class="product-info">
          <p class="product-name">JOISE - Aurora Flare Asymmetric</p>
          <p class="product-price">Rp. 125.000</p>
        </div>
      </a>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
{% endblock %}